/* Shadow 0dp */
/* Shadow 1dp */
/* Shadow 2dp */
/* Shadow 3dp */
/* Shadow 4dp */
/* Shadow 6dp */
/* Shadow 8dp */
/* Shadow 9dp */
/* Shadow 12dp */
/* Shadow 16dp */
/* Shadow 24dp */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
@import url("https://use.fontawesome.com/releases/v5.0.9/css/all.css");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
  min-height: 100vh;
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

html,
* {
  font-family: "Lato", sans-serif;
}

a,
button {
  font-style: normal;
  font-size: 13px;
  line-height: 16px;
}

a {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #E6E6E6;
  text-decoration: none;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #565656;
}

button {
  font-weight: 800;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #565656;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

h1 {
  line-height: 44px;
}

h2 {
  line-height: 36px;
}

h3 {
  line-height: 30px;
}

h4 {
  line-height: 24px;
}

h5 {
  line-height: 22px;
}

h6 {
  line-height: 19px;
}

h3 {
  font-weight: bold;
}

h5 {
  font-weight: bold;
}

i {
  font-size: 30px;
}

.video__img {
  display: block;
  width: 440px;
  height: 248px;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0px;
}

.video__play-button {
  position: relative;
  bottom: 154px;
  left: 190px;
  width: 64px;
  height: auto;
}

.schedule-image__img {
  width: 352px;
  height: 230px;
  margin-bottom: 80px;
}

.vector-images {
  max-width: 32px;
  max-height: 32px;
  margin-right: 25px;
}

.footer__img {
  position: relative;
  bottom: 146px;
}

.map {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.nav-bar-img,
.nav-logo,
.nav-bar-search {
  display: inline;
  padding: 0;
  margin: 0;
}

.nav-bar-img {
  width: 20px;
  height: 12px;
  margin-bottom: 10px;
}

.nav-bar-search {
  width: 16px;
  height: 16px;
  margin-right: 20px;
}

.nav-logo {
  width: 121px;
  height: 41px;
}

/* Shadow 0dp */
/* Shadow 1dp */
/* Shadow 2dp */
/* Shadow 3dp */
/* Shadow 4dp */
/* Shadow 6dp */
/* Shadow 8dp */
/* Shadow 9dp */
/* Shadow 12dp */
/* Shadow 16dp */
/* Shadow 24dp */
span {
  margin: 0;
  padding: 0;
}

.position {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #b2b2b2;
}

.variable {
  color: #565656;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.value {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #ff9100;
}

.o-column-container {
  display: flex;
  flex-flow: column wrap;
  justify-items: flex-start;
  align-items: flex-start;
}

.o-row-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.o-row-container--top {
  align-items: flex-start;
}

.o-horizontal-list {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.o-page-wrapper {
  display: grid;
  min-width: 1520px;
  grid-template-rows: 74px 1fr 325px;
  min-height: 100%;
}

.o-page-content-wrapper {
  width: 1290px;
  margin: 0 auto;
}

.o-paragraph-wrapper {
  width: 488px;
}

.o-paragraph-wrapper--middle {
  width: 544px;
}

.o-paragraph-wrapper--longer {
  width: 675px;
}

/* Shadow 0dp */
/* Shadow 1dp */
/* Shadow 2dp */
/* Shadow 3dp */
/* Shadow 4dp */
/* Shadow 6dp */
/* Shadow 8dp */
/* Shadow 9dp */
/* Shadow 12dp */
/* Shadow 16dp */
/* Shadow 24dp */
.c-button {
  border: 0;
  background: none;
  border-radius: 100px;
  font-family: "Lato";
}

.c-button--primary {
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 14px 32px;
  background: #ff9100;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.c-button--primary--small {
  width: 82px;
  height: 36px;
  padding: 10px 22px;
  font-size: 13px;
  line-height: 16px;
}

.c-button--primary--medium {
  width: 140px;
  height: 48px;
}

.c-button--primary--large {
  width: 163px;
  height: 48px;
}

.c-button--secondary {
  font-size: 14px;
  line-height: 16px;
  color: #ff9100;
  border: 1px solid #ff9100;
  background-color: transparent;
  padding: 14px 24px;
  border-radius: 50px;
}

.c-home-main {
  display: grid;
  grid-template-rows: 302px 573px 232px 550px 908px;
}

.c-home-main__first-steps-section {
  background-color: #44a9f8;
}

.c-home-main__program-first-part .o-page-content-wrapper {
  display: grid;
  grid-template-rows: 573px;
  grid-template-columns: 740px 550px;
  align-items: center;
}

.c-home-main__program-first-part .o-page-content-wrapper .video {
  margin: 50px 0;
  justify-self: end;
}

.c-home-main__program-second-part .o-page-content-wrapper {
  display: grid;
  grid-template-rows: 232px;
  grid-template-columns: 635px 30px 635px;
}

.c-home-main__program-second-part .o-page-content-wrapper .program-goals {
  justify-self: end;
}

.c-home-main__curriculum {
  background-color: #ffc20a;
}

.c-home-main__curriculum .o-page-content-wrapper {
  display: grid;
  grid-template-rows: 550px;
  grid-template-columns: 740px 550px;
}

.c-home-main__curriculum .o-page-content-wrapper .study-schedule {
  align-self: center;
}

.c-home-main__curriculum .o-page-content-wrapper .schedule-image {
  align-self: end;
  justify-self: center;
}

.c-home-main__additional-information .o-page-content-wrapper {
  display: grid;
  grid-template-rows: 428px 477px;
  grid-template-columns: 640px 10px 640px;
}

.c-home-main__additional-information .o-page-content-wrapper .certificate {
  align-self: center;
  grid-row: 1/2;
  grid-column: 1/2;
}

.c-home-main__additional-information .o-page-content-wrapper .certificate-picture {
  align-self: center;
  justify-self: center;
  grid-row: 1/2;
  grid-column: 3/4;
}

.c-home-main__additional-information .o-page-content-wrapper .time-location-info {
  justify-self: start;
  align-items: flex-start;
  grid-row: 2/3;
  grid-column: 1/2;
}

.c-home-main__additional-information .o-page-content-wrapper .dots {
  grid-row: 2/3;
  grid-column: 2/3;
  justify-self: center;
}

.c-home-main__additional-information .o-page-content-wrapper .additional-info {
  grid-row: 2/3;
  grid-column: 3/4;
  justify-self: end;
  align-items: flex-start;
}

.c-contact-us-main {
  display: grid;
  grid-template-rows: 426px 686px 572px;
}

.c-contact-us-main__map-section {
  background-image: url("./images/pictures/maps/map.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.c-contact-us-main__form {
  justify-self: center;
  align-self: center;
}

.c-contact-us-main__directions {
  background-color: #fff8e1;
  justify-content: center;
  align-content: center;
  display: grid;
}

.c-trainers-main {
  display: grid;
  grid-template-rows: 256px 548px 10px 1472px 450px;
}

.c-trainers-main__trainers-summary {
  background-color: #ffb402;
}

.c-trainers-main__top-lectors {
  display: grid;
  justify-content: center;
  align-content: center;
}

.c-trainers-main__top-lectors .o-page-content-wrapper {
  display: grid;
  grid-template-rows: 356px;
  grid-template-columns: 1fr 1fr;
  column-gap: 52px;
}

.c-trainers-main__division .o-page-content-wrapper {
  border-bottom: 10px dotted #DFF4F1;
}

.c-trainers-main__all-trainers {
  display: grid;
  align-content: center;
}

.c-trainers-main__all-trainers .o-page-content-wrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: 240px 240px 240px 240px;
  grid-template-rows: 260px 260px 260px 260px;
  column-gap: 86px;
  row-gap: 60px;
}

.c-trainers-main__job-openings {
  border-top: 12px solid #92cdfb;
  background-color: #66b9f8;
  display: grid;
  grid-template-rows: 400px;
}

.c-trainers-main__job-openings .o-page-content-wrapper {
  align-self: center;
}

/* Shadow 0dp */
/* Shadow 1dp */
/* Shadow 2dp */
/* Shadow 3dp */
/* Shadow 4dp */
/* Shadow 6dp */
/* Shadow 8dp */
/* Shadow 9dp */
/* Shadow 12dp */
/* Shadow 16dp */
/* Shadow 24dp */
.c-label--beginner {
  width: 89px;
  height: 22px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  background: #ffc20a;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  color: #FFFFFF;
  padding: 4px 8px;
}

/* Shadow 0dp */
/* Shadow 1dp */
/* Shadow 2dp */
/* Shadow 3dp */
/* Shadow 4dp */
/* Shadow 6dp */
/* Shadow 8dp */
/* Shadow 9dp */
/* Shadow 12dp */
/* Shadow 16dp */
/* Shadow 24dp */
.c-information-box {
  position: absolute;
  top: 309px;
  right: 115px;
  left: 116px;
  display: grid;
  grid-template-columns: 280px 10px 200px 230px 290px 270px;
  grid-template-rows: 112px;
  justify-items: center;
  align-items: center;
  width: 1290px;
  border-radius: 12px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
}

.c-information-box__money::after, .c-information-box__suitable-for::after, .c-information-box__schedule::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #F1F1F1;
  width: 2px;
  height: 24px;
}

.c-information-box__money::after {
  left: 500px;
}

.c-information-box__suitable-for::after {
  left: 746px;
}

.c-information-box__schedule::after {
  left: 1015px;
}

.dots--absolute-first-border {
  position: absolute;
  min-width: 1520px;
  top: 1170px;
  margin: 0;
}

.dots--absolute-second-border {
  position: absolute;
  min-width: 1520px;
  top: 1720px;
  margin: 0;
}

.dots .dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.dots .dot--orange {
  background-color: #ffecb3;
}

.dots .dot--white {
  background-color: #FFFFFF;
}

.dots .dot--green {
  background-color: #DFF4F1;
}

.fields_options {
  margin: 5px 0;
  width: 676px;
  height: 50px;
  border-radius: 6px;
  padding: 14px 60px 14px 14px;
  appearance: none;
}

.fields__label::after {
  left: 630px;
  bottom: 41px;
  content: "";
  background: url(./images/vectors/icons/arrow.svg) center no-repeat;
  width: 28px;
  height: 8px;
  display: inline-block;
  position: relative;
}

/* Shadow 0dp */
/* Shadow 1dp */
/* Shadow 2dp */
/* Shadow 3dp */
/* Shadow 4dp */
/* Shadow 6dp */
/* Shadow 8dp */
/* Shadow 9dp */
/* Shadow 12dp */
/* Shadow 16dp */
/* Shadow 24dp */
.certificate-picture-box {
  width: 364px;
  height: 256px;
  background-color: #d6d6d6;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}

/* Shadow 0dp */
/* Shadow 1dp */
/* Shadow 2dp */
/* Shadow 3dp */
/* Shadow 4dp */
/* Shadow 6dp */
/* Shadow 8dp */
/* Shadow 9dp */
/* Shadow 12dp */
/* Shadow 16dp */
/* Shadow 24dp */
.contact-information-card {
  width: 519px;
  height: 382px;
  border-radius: 12px;
  position: absolute;
  top: 202px;
  left: 115px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 200px 227px;
  grid-template-rows: 130px 130px 58px;
  column-gap: 28px;
  justify-content: center;
  align-content: center;
  opacity: 0;
  transform: translateX(-40px);
  animation: reveal-left 2s ease-out;
  animation-fill-mode: forwards;
}

.contact-information-card__title {
  color: #41bead;
}

.contact-information-card__info {
  margin: 0;
  padding: 10px 0;
}

.contact-information-card__info--days {
  display: grid;
  grid-template-columns: 88px 103px;
  column-gap: 24px;
}

.contact-information-card__info--days__time {
  color: #ff9100;
  margin: 0;
  padding: 11px 0;
}

.contact-information-card__button {
  grid-row: 3/4;
  grid-column: 1/3;
  justify-self: center;
  align-self: center;
}

/* Shadow 0dp */
/* Shadow 1dp */
/* Shadow 2dp */
/* Shadow 3dp */
/* Shadow 4dp */
/* Shadow 6dp */
/* Shadow 8dp */
/* Shadow 9dp */
/* Shadow 12dp */
/* Shadow 16dp */
/* Shadow 24dp */
.c-main-header {
  background: #FFFFFF;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
}

.c-main-header__logo-and-arrow {
  display: flex;
  justify-content: space-between;
}

.c-main-header__search-and-entrance {
  display: flex;
  justify-content: space-between;
}

.c-main-header .o-page-content-wrapper {
  display: grid;
  grid-template-columns: 150px 1fr 120px;
  grid-template-rows: 74px;
  grid-column-gap: 32px;
  align-items: center;
}

.c-main-nav__list {
  height: 100%;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.c-main-nav__list-item:not(:last-child) {
  margin-right: 24px;
}

.c-main-nav__link {
  /*text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 12px;
        height: 100%;
        text-transform: uppercase;
        transition: color 0.4s ease-out;
        color: $grey-700;*/
  color: #565656;
  font-size: 13px;
  line-height: 16px;
  font-weight: bold;
  padding: 0 12px;
  text-transform: uppercase;
  transition: color 0.4s ease-out;
}

.c-main-nav__link:hover {
  color: #ff9100;
}

.c-main-footer-nav {
  display: grid;
  grid-template-columns: 1fr 220px 220px 220px;
  column-gap: 10px;
}

.c-main-footer-nav .links-info__list {
  display: flex;
  flex-flow: column wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 170px;
}

.c-main-footer-nav .links-info__list--icons {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.c-main-footer-nav .links-info__link, .c-main-footer-nav .links-info__link-icon {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #E6E6E6;
  transition: color 0.4s ease-out;
}

.c-main-footer-nav .links-info__link:hover, .c-main-footer-nav .links-info__link-icon:hover {
  color: #41bead;
}

.c-main-footer-nav .links-info__title {
  color: #FFFFFF;
  padding-bottom: 20px;
}

.c-main-footer-nav .links-info__list-item {
  padding: 6px 10px 6px 0;
}

.c-main-footer-nav .links-info__reserved {
  padding: 0;
  margin: 50px 0;
  color: #919191;
}

.c-main-footer {
  background-color: #565656;
  border-top: 12px solid #919191;
  /*height: 325px;*/
  display: grid;
}

.c-main-footer .o-page-content-wrapper {
  display: grid;
  grid-template-rows: 200px;
  grid-template-columns: 220px 1fr;
  align-content: center;
  column-gap: 50px;
}

@keyframes reveal-left {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.c-contact-form__title {
  color: #41bead;
  margin-bottom: 15px;
}

.c-contact-form__input-fields {
  display: grid;
  grid-template-columns: 409px 409px;
  grid-template-rows: 52px 192px 60px;
  row-gap: 30px;
  column-gap: 32px;
}

.c-contact-form__input-fields__subject {
  grid-row: 2/3;
  grid-column: 1/3;
}

.c-contact-form__input-fields__title, .c-contact-form__input-fields__mail, .c-contact-form__input-fields__subject {
  font-size: 16px;
  line-height: 19px;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid #919191;
}

.c-contact-form__input-fields__title::placeholder, .c-contact-form__input-fields__mail::placeholder, .c-contact-form__input-fields__subject::placeholder {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  padding: 10px;
}

.c-types-of-transport {
  display: grid;
  grid-template-rows: 36px 320px;
  row-gap: 48px;
  grid-template-columns: 395px 408px 395px;
  column-gap: 46px;
}

.c-types-of-transport__title {
  color: #41bead;
  grid-row: 1/2;
  grid-column: 1/4;
  justify-self: center;
}

.c-types-of-transport__subtype {
  color: #41bead;
}

.advertisement {
  display: grid;
  grid-template-rows: 153px 52px;
  grid-template-columns: 228px 228px 228px 228px;
  column-gap: 32px;
  justify-content: center;
  align-content: center;
}

.advertisement__info {
  grid-row: 1/2;
  grid-column: 1/5;
  text-align: center;
  margin: 0 65px;
}

.advertisement__title, .advertisement__requirements {
  color: #FFFFFF;
}

.advertisement input {
  background-color: transparent;
  font-size: 16px;
  line-height: 19px;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid #FFFFFF;
}

.advertisement input::placeholder {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  padding: 10px;
  color: #FFFFFF;
}

.post-header--trainers {
  display: grid;
  grid-template-columns: 796px;
  grid-template-rows: 100px;
  justify-content: center;
  align-items: end;
}

.post-header--trainers__title, .post-header--trainers__info {
  color: #FFFFFF;
}

.post-header--index {
  display: grid;
  grid-template-rows: 112px 190px;
  grid-template-columns: 650px;
  justify-content: center;
  align-content: center;
}

.post-header--index .c-label {
  grid-row: 1/2;
  justify-self: center;
  margin-top: 64px;
}

.post-header--index .c-label:hover {
  background-color: blue;
}

.post-header--index__title {
  grid-row: 2/3;
  margin-bottom: 104px;
  color: #FFFFFF;
}

.trainers-box {
  display: grid;
  grid-template-columns: 210px 409px;
  justify-items: start;
}

.trainers-box .overlay {
  left: 0;
}

.individual_trainer {
  text-align: center;
}

.individual_trainer .overlay {
  left: 31px;
}

.trainers-box__picture,
.individual_trainer__picture {
  position: relative;
}

.trainers-box__picture:hover .overlay,
.individual_trainer__picture:hover .overlay {
  opacity: 0.7;
  cursor: pointer;
}

.trainers-box__img,
.individual_trainer__img {
  width: 175px;
  height: 172px;
  border-radius: 50%;
  border: 5px solid #41bead;
  object-fit: cover;
  margin: 0 auto;
}

.trainers-box__name,
.individual_trainer__name {
  margin-bottom: 5px;
  color: #41bead;
}

.trainers-box__position,
.individual_trainer__position {
  margin-bottom: 25px;
  color: #b2b2b2;
}

.trainers-box .overlay,
.individual_trainer .overlay {
  display: flex;
  flex-flow: column wrap;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 175px;
  height: 172px;
  object-fit: cover;
  border: 5px solid #41bead;
  border-radius: 50%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #ff9100;
}

.trainers-box .overlay__vector,
.individual_trainer .overlay__vector {
  position: absolute;
  top: 20%;
  left: 40%;
}

.trainers-box .overlay__text,
.individual_trainer .overlay__text {
  font-size: 10px;
  line-height: 12px;
  color: #FFFFFF;
  position: absolute;
  top: 70%;
  left: 47%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.u-uppercase {
  text-transform: uppercase !important;
}

.u-centered {
  text-align: center;
}
