@{
    this.ViewData["Title"] = "Благодарим Ви!";
}

<div class="slide-area fix" data-stellar-background-ratio="0.6">
    <div class="display-table">
        <div class="display-table-cell">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <!-- Start Slider content -->
                        <div class="slide-content text-center">
                            <h1 class="title2">Благодарим Ви, че се свързахте с нас!</h1>
                            <hr />
                            <p class="title3">Ще отговорим на Вашето запитване възможно <strong>най-бързо</strong> по ел. поща!</p>
                            <hr>
                            <p class="title3">
                                <a class="btn btn-lg btn-primary" asp-controller="Home" asp-action="Index" role="button">Върни се на началната страница</a>
                            </p>
                        </div>
                        <!-- End Slider content -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
