/* Shadow 0dp */
/* Shadow 1dp */
/* Shadow 2dp */
/* Shadow 3dp */
/* Shadow 4dp */
/* Shadow 6dp */
/* Shadow 8dp */
/* Shadow 9dp */
/* Shadow 12dp */
/* Shadow 16dp */
/* Shadow 24dp */
.c-information-box {
  position: absolute;
  top: 309px;
  right: 115px;
  left: 116px;
  display: grid;
  grid-template-columns: 280px 10px 200px 230px 290px 270px;
  grid-template-rows: 112px;
  justify-items: center;
  align-items: center;
  width: 1290px;
  border-radius: 12px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
}

.c-information-box__variable {
  color: #565656;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.c-information-box__value {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #ff9100;
}

.c-information-box__money::after, .c-information-box__suitable-for::after, .c-information-box__schedule::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #F1F1F1;
  width: 2px;
  height: 24px;
}

.c-information-box__money::after {
  left: 500px;
}

.c-information-box__suitable-for::after {
  left: 746px;
}

.c-information-box__schedule::after {
  left: 1015px;
}
