@import "../01-settings/settings-shadows.scss";
@import "../01-settings/settings-colors.scss";
@import '../01-settings/settings-breakpoints.scss';

.c-information-box {
    position: absolute;
    top: 309px;
    right: 115px;
    left: 116px;
    display: grid;
    grid-template-columns: 280px 10px 200px 230px 290px 270px;
    grid-template-rows: 112px;
    justify-items: center;
    align-items: center;
    width: 1290px;
    border-radius: 12px;
    box-shadow: $box-shadow-1dp;
    background-color: white;

    @include for-phone-only {
        position: absolute;
        top: 325px;
        left: 20px;
        right: 35px;
        width: 335px;
        height: 562px;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        align-content: flex-start;
        padding: 30px;
        align-items: flex-start;
    }

    &__variable {
        color: $grey-700;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;

        @include for-phone-only {
            align-self: flex-start;
        }
    }
    
    &__value {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
    
        color: $orange-secondary-800;
    }

    &__money::after,
    &__suitable-for::after,
    &__schedule::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: $grey-100;
        width: 2px;
        height: 24px;

        @include for-phone-only {
            transform: rotate(90deg);
            width: 2px;
            height: 74px;
        }
    }

    &__money::after {
        left: 500px;

        @include for-phone-only {
            left: 60px;
            top: 235px;
        }
    }
    &__suitable-for::after {
        left: 746px;

        @include for-phone-only {
            left: 60px;
            top: 320px;
        }
    }

    &__schedule::after {
        left: 1015px;

        @include for-phone-only {
            left: 60px;
            top: 410px;
        }
    }
}
