.c-main-nav__list {
  height: 100%;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.c-main-nav__list-item:not(:last-child) {
  margin-right: 24px;
}

.c-main-nav__link {
  /*text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 12px;
        height: 100%;
        text-transform: uppercase;
        transition: color 0.4s ease-out;
        color: $grey-700;*/
  color: #565656;
  font-size: 13px;
  line-height: 16px;
  font-weight: bold;
  padding: 0 12px;
  text-transform: uppercase;
  transition: color 0.4s ease-out;
}

.c-main-nav__link:hover {
  color: #ff9100;
}

.c-main-footer-nav {
  display: grid;
  grid-template-columns: 1fr 220px 220px 220px;
  column-gap: 10px;
}

.c-main-footer-nav .links-info__list {
  display: flex;
  flex-flow: column wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 170px;
}

.c-main-footer-nav .links-info__list--icons {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.c-main-footer-nav .links-info__link, .c-main-footer-nav .links-info__link-icon {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #E6E6E6;
  transition: color 0.4s ease-out;
}

.c-main-footer-nav .links-info__link:hover, .c-main-footer-nav .links-info__link-icon:hover {
  color: #41bead;
}

.c-main-footer-nav .links-info__title {
  color: #FFFFFF;
  padding-bottom: 20px;
}

.c-main-footer-nav .links-info__list-item {
  padding: 6px 10px 6px 0;
}

.c-main-footer-nav .links-info__reserved {
  padding: 0;
  margin: 50px 0;
  color: #919191;
}
