.dots--absolute-first-border {
  position: absolute;
  min-width: 1520px;
  top: 1170px;
  margin: 0;
}

.dots--absolute-second-border {
  position: absolute;
  min-width: 1520px;
  top: 1720px;
  margin: 0;
}

.dots .dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.dots .dot--orange {
  background-color: #ffecb3;
}

.dots .dot--white {
  background-color: #FFFFFF;
}

.dots .dot--green {
  background-color: #DFF4F1;
}
