@import "../01-settings/settings-colors.scss";

.c-main-nav {
    &__list {
        height: 100%;
        list-style-type: none;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
    }

    &__list-item:not(:last-child) {
        margin-right: 24px;
    }

    &__link {
        /*text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 12px;
        height: 100%;
        text-transform: uppercase;
        transition: color 0.4s ease-out;
        color: $grey-700;*/

        color: $grey-700;
        font-size: 13px;
        line-height: 16px;
        font-weight: bold;
        padding: 0 12px;
        text-transform: uppercase;
        transition: color 0.4s ease-out;

        &:hover {
            color: $orange-secondary-800;
        }
    }
}

.c-main-footer-nav {
    display: grid;
    grid-template-columns: 1fr 220px 220px 220px;
    column-gap: 10px;

    .links-info {
        &__list {
            display: flex;
            flex-flow: column wrap;
            list-style-type: none;
            margin: 0;
            padding: 0;
            height: 170px;

            &--icons {
                display: flex;
                flex-flow: row wrap;
                margin: 20px 0;
                padding: 0;
            }
        }
        
        &__link-icon {
            padding-right: 20px;
        }

        &__reserved {
            padding: 0;
            margin: 50px 0;
            color: $grey-500;
        }

        &__title {
            color: white;
            padding-bottom: 20px;
        }

        &__list-item {
            padding: 6px 0;
        }

        &__link{
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: $grey-200;
        }
    }
}
