.c-main-footer {
  background-color: #565656;
  border-top: 12px solid #919191;
  height: 325px;
  display: grid;
}

.c-main-footer .o-page-content-wrapper {
  display: grid;
  grid-template-rows: 200px;
  grid-template-columns: 220px 1fr;
  align-content: center;
  column-gap: 50px;
}

.c-main-footer .o-page-content-wrapper .c-main-footer__links {
  display: grid;
  grid-template-rows: 200px;
  grid-template-columns: 1fr 220px 220px 220px;
  column-gap: 10px;
}

.c-main-footer .o-page-content-wrapper .c-main-footer__links h5,
.c-main-footer .o-page-content-wrapper .c-main-footer__links p {
  color: white;
  padding-bottom: 10px;
}

.c-main-footer .o-page-content-wrapper .c-main-footer__links li {
  padding: 6px 0;
}

.c-main-footer .o-page-content-wrapper .c-main-footer__links ul {
  display: flex;
  flex-flow: column wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 170px;
}

.c-main-footer .o-page-content-wrapper .c-main-footer__links .links__info__list__icons {
  display: flex;
  flex-flow: row wrap;
}

.c-main-footer .o-page-content-wrapper .c-main-footer__links .links__info__list__icons a {
  padding-right: 20px;
}

.c-main-footer .o-page-content-wrapper .c-main-footer__links .links__info__rights-reserved {
  padding: 0;
  margin: 0;
}
