@import "../01-settings/settings-colors.scss";
@import "../01-settings/settings-shadows.scss";

span {
    margin: 0;
    padding: 0;
}

.position {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: $grey-400;
}

.variable {
    color: $grey-700;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

.value {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    color: $orange-secondary-800;
}
