/* Shadow 0dp */
/* Shadow 1dp */
/* Shadow 2dp */
/* Shadow 3dp */
/* Shadow 4dp */
/* Shadow 6dp */
/* Shadow 8dp */
/* Shadow 9dp */
/* Shadow 12dp */
/* Shadow 16dp */
/* Shadow 24dp */
span {
  margin: 0;
  padding: 0;
}

.position {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #b2b2b2;
}

.variable {
  color: #565656;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.value {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #ff9100;
}
