img {
  display: block;
  width: 440px;
  height: 248px;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0px;
}

.vector-images {
  max-width: 32px;
  max-height: 32px;
  margin-right: 25px;
}

.play-button {
  position: absolute;
  top: 657px;
  right: 290px;
  width: 64px;
  height: auto;
  z-index: 2;
}

.schedule {
  width: 352px;
  height: 230px;
  margin-bottom: 40px;
}
